.posts-wrapper {
    width: 1000px;
    height: 700px;
}

.recommendations-title {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}

.post-btn {
    font-family: Arial;
    background: #000;
    color: #fff;
    outline: 0;
    border: none;
    padding: 8px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
}

.post-item {
    margin-top: 15px;

    &:first-of-type {
        margin-top: 0;
    }
}
